#===============================================================================
input {
    syslog {
        type => syslog
        port => 5544
    }
    tcp {
        host => "{INTERNAL_IP}"
        port => 5000
    }
}
#===============================================================================
